<!DOCTYPE html>
<html xmlns="th=" http://thymeleaf.org"">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Administração de Barbearia</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

	<header>
		<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" aria-disabled="true">Disabled</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="col-3 col-lg-2 row-cols-2 bg-dark" style="
    height: 100%;
    position: fixed;
    padding: 15px 30px 15px 30px;">
				<button type="button" onclick="chooseSec('all')" class="btn btn-dark">Todos</button>
				<button type="button" onclick="chooseSec('barbers-tbl')" class="btn btn-dark">Barbeiro</button>
				<button type="button" onclick="chooseSec('clients-tbl')" class="btn btn-dark">Cliente</button>
				<button type="button" onclick="chooseSec('jobs-tbl')" class="btn btn-dark">Serviços</button>
				<button type="button" onclick="chooseSec('categories-tbl')" class="btn btn-dark">Categorias</button>
				<button type="button" onclick="chooseSec('orders-tbl')" class="btn btn-dark">pedidos</button>
			</div>
			<main style="margin-top: 50px;">
				<section id="barbers-tbl" class="col-9 ms-auto col-lg-10 px-md-4 ">
					<div class="conteiner mx-auto" style="width: 80%;">
						<h1>Barbeiros</h1>
						<table class="table table-hover " style="margin-top: 30px;">
							<thead class="table-light">
								<tr>
									<th scope="col" class="col-2">#</th>
									<th scope="col" class="col-7">nome</th>
									<th scope="col" class="col-1 text-center"></th>
								</tr>

							</thead>
							<tbody>
								<tr th:each="barber : ${barbers}">
									<th scope="row"><span th:text="${barber.id}"></span></th>
									<td><span th:text="${barber.name}"></span></td>
									<td class="d-grid gap-2 d-md-flex justify-content-md">
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-light">Editar</button>
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-danger">Deletar</button>
									</td>
								</tr>
								<tr>
									<th scope="row"><button type="button" class="btn btn-success me-md-2"
											onclick="changeVisible('newBarber', 'show')">+</button>
									</th>
									<form id="newBarber">

										<td> <input type="text" class="form-control" oninput="validCamp(this, 'name')"
												required></td>
										<td class="d-grid gap-2 d-md-flex justify-content-md">
											<button class="btn btn-success" style=" --bs-btn-font-size: .85rem"
												type="submit">salvar</button>
											<button type="button" onclick="changeVisible('newBarber', 'hide')"
												style=" --bs-btn-font-size: .85rem"
												class="btn btn-danger">cancelar</button>

										</td>
									</form>
								</tr>



							</tbody>
							</tbody>
						</table>
					</div>
				</section>

				<section id="clients-tbl" class="col-9 ms-auto col-lg-10 px-md-4 ">
					<div class="conteiner mx-auto" style="width: 80%;">
						<h1>clientes</h1>
						<table class="table table-hover  table-striped" style="margin-top: 30px;">
							<thead class="table-light">
								<tr>
									<th scope="col" class="col-1">#</th>
									<th scope="col" class="col-4">nome</th>
									<th scope="col" class="col-4">Celular</th>
									<th scope="col" class="col-1 text-center"><button type="button"
											class="btn btn-success me-md-2">+</button></th>
								</tr>

							</thead>
							<tbody>
								<tr th:each="client : ${clients}">
									<th scope="row"><span th:text="${client.id}"></span></th>
									<td><span th:text="${client.name}"></span></td>
									<td><span th:text="${client.phone}"></span></td>
									<td class="d-grid gap-2 d-md-flex justify-content-md">
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-light">Editar</button>
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-danger">Deletar</button>
									</td>
								</tr>
								<tr>
									<th scope="row"><button type="button" class="btn btn-success me-md-2"
											onclick="changeVisible('newClient', 'show')">+</button>
									</th>
									<form id="newClient">

										<td> <input type="text" class="form-control" oninput="validCamp(this, 'name')"
												required>

										</td>

										<td><input type="tel" id="telefone" class="form-control"
												oninput="validCamp(this, 'phone')"></td>
										<td class="d-grid gap-2 d-md-flex justify-content-md">
											<button class="btn btn-success" style=" --bs-btn-font-size: .85rem"
												type="submit">salvar</button>
											<button type="button" onclick="changeVisible('newClient', 'hide')"
												style=" --bs-btn-font-size: .85rem"
												class="btn btn-danger">cancelar</button>

										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<section id="jobs-tbl" class="col-9 ms-auto col-lg-10 px-md-4 ">
					<div class="conteiner mx-auto" style="width: 80%;">
						<h1>Serviços</h1>
						<table class="table table-hover table-striped" style="margin-top: 30px;">
							<thead class="table-light">
								<tr>
									<th scope="col" class="col-1">#</th>
									<th scope="col" class="col-3">nome</th>
									<th scope="col " class="col-3">categoria</th>
									<th scope="col " class="col-2">preço</th>
									<th scope="col" class="col-1 text-center"></th>
								</tr>

							</thead>
							<tbody>
								<tr th:each="job : ${jobs}">
									<th scope="row"><span th:text="${job.id}"></span></th>
									<td><span th:text="${job.name}"></span></td>
									<td><span th:text="${job.category.name}"></span></td>
									<td><span th:text="${job.price}"></span></td>
									<td class="d-grid gap-2 d-md-flex justify-content-md">
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-light">Editar</button>
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-danger">Deletar</button>
									</td>
								</tr>
								<tr>
									<th scope="row"><button type="button" class="btn btn-success me-md-2"
											onclick="changeVisible('newJob', 'show')">+</button>
									</th>
									<form id="newJob">

										<td>
											<input type="text" class="form-control" oninput="validCamp(this, 'name')"
												required>
										</td>

										<td><p>falta implementar</p></td>
										<td>
											<input type="text" class="form-control" oninput="validCamp(this, 'price')"
												required>
										</td>
										<td class="d-grid gap-2 d-md-flex justify-content-md">
											<button class="btn btn-success" style=" --bs-btn-font-size: .85rem"
												type="submit">salvar</button>
											<button type="button" onclick="changeVisible('newJob', 'hide')"
												style=" --bs-btn-font-size: .85rem"
												class="btn btn-danger">cancelar</button>

										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<section id="categories-tbl" class="col-9 ms-auto col-lg-10 px-md-4 ">
					<div class="conteiner mx-auto" style="width: 80%;">
						<h1>categorias de serviços</h1>
						<table class="table table-hover table-striped" style="margin-top: 30px;">
							<thead class="table-light">
								<tr>
									<th scope="col" class="col-2">#</th>
									<th scope="col" class="col-7">nome</th>
									<th scope="col" class="col-1 text-center"><button type="button"
											class="btn btn-success me-md-2">+</button></th>
								</tr>

							</thead>
							<tbody>
								<tr th:each="category : ${categories}">
									<th scope="row"><span th:text="${category.id}"></span></th>
									<td><span th:text="${category.name}"></span></td>
									<td class="d-grid gap-2 d-md-flex justify-content-md">
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-light">Editar</button>
										<button type="button" style=" --bs-btn-font-size: .85rem"
											class="btn btn-danger">Deletar</button>
									</td>
								</tr>
								<tr>
									<th scope="row"><button type="button" class="btn btn-success me-md-2"
											onclick="changeVisible('newCategory', 'show')">+</button>
									</th>
									<form id="newCategory">

										<td> <input type="text" class="form-control" oninput="validCamp(this, 'name')"
												required>

										</td>
										<td class="d-grid gap-2 d-md-flex justify-content-md">
											<button class="btn btn-success" style=" --bs-btn-font-size: .85rem"
												type="submit">salvar</button>
											<button type="button" onclick="changeVisible('newCategory', 'hide')"
												style=" --bs-btn-font-size: .85rem"
												class="btn btn-danger">cancelar</button>

										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<section id="orders-tbl" class="col-9 ms-auto col-lg-10 px-md-4 ">
					<div class="conteiner mx-auto" style="width: 80%;">
						aqui tem a tela personalizada de pedidos
					</div>
				</section>
			</main>
		</div>
	</div>

	<script>
		function changeVisible(id, state) {

			var obj = document.getElementById(id);

			if (state == "hide") {
				for (var i = 0; i < obj.elements.length; i++) {
					obj.elements[i].style.display = 'none';
				}
			} else if (state == "show") {
				for (var i = 0; i < obj.elements.length; i++) {
					obj.elements[i].style.display = 'block';
				}
			}

		}

		function validCamp(input, type) {
			if (type == "phone") {
				input.value = input.value.replace(/[^\d\s()+]/g, ''); // Remove todos os caracteres não numéricos
			}
			if (type == "name") {
				input.value = input.value.replace(/[^a-zA-Z\s]/g, '') // Remove caracteres não permitidos
					.replace(/\b\w/g, l => l.toUpperCase()) // Capitaliza a primeira letra de cada palavra
					.toLowerCase();
			}
			if (type == "price") {
				input.value = input.value.replace(/[^0-9.,]/g, '');
			}
		}

		function chooseSec(id) {
			const section = document.querySelectorAll('main section');

			if (id == 'all') {
				secao.classList.remove('visually-hidden');
			} else {
				section.forEach(secao => {
					if (secao.id == id) {
						secao.classList.remove('visually-hidden');
					} else {
						secao.classList.add('visually-hidden');
					}
				});
			}
		}

	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

</body>

</html>